.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(3, 49, 34);
    height: 450px;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transform: perspective(500px) rotateY(50deg) translateY(50px) ;

}
.box1:hover{
    /* transform: translate(0px,100px); */

}
.box2{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transform: perspective(500px) rotateY(50deg) translateY(50px) ;
    transition: all 3s ease-in-out;

}
.box2:hover{
    /* transform: rotate(230deg); */
    transform: scale(1.5);
}
.box3{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transition: all 2.5s ease-in-out;
    /* transform: perspective(500px) rotateY(50deg) translateY(50px) ; */
}
.box3:hover{
    transform: matrix(2,0,0,2,50,100 );
    /* transform: skewY(230deg); */

    /* transform: scale(1.5); */
}