h1{
    color: black;
    background-color: azure;
    border: yellowgreen solid 9px ;
}
h2{
    color: #12f;
    background-color: #efa;
    border: yellowgreen solid 9px ;
}
h3{
    color: #12f;
    background-color: rgb(80,90,255,.0);
    border: yellowgreen solid 9px ;
}
h5{
    color: #12f;
    background-color: hsla(250,60%,40%,.1);
    border: yellowgreen solid 9px ;
}